<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

<header class="mt-4">
    <h1>Welcome to the About Page</h1>
    <p>I'm glad to have you here and excited to share a little about myself.</p>
</header>

<section>
    <h2>My Background</h2>
    <p>My name is Daniel, student ID 147137228 from the BTT program. Embarking on this journey has been both challenging and rewarding. From an early age, I've been fascinated by technology and its potential to change the world. This passion led me to pursue a career in web development, where I can use my creativity and problem-solving skills to build innovative web applications.</p>
    <p>In my academic journey, I've had the pleasure of delving into various programming realms, including Python. Recently, I've ventured into the intricacies of HTML, CSS, JavaScript, and Node.js. These tools have been instrumental in my ability to craft dynamic, intuitive websites tailored to user needs. My portfolio spans from basic web pages to, as I envision for the future, sophisticated web applications aimed at addressing tangible problems.</p>
    <p>Beyond my educational endeavors, I am deeply committed to self-improvement and regularly dedicate time to exploring emerging technologies and keeping abreast of current industry standards. I believe that perpetual education is crucial for staying relevant and excelling in the fast-paced tech landscape. Outside of coding, my interests include football, exploring the art of photography, and immersing myself in the cinematic world.</p>
    <p>As I look to the future, I am filled with enthusiasm for the potential paths and projects that await. My aim is to excel in my field, continuously enhancing my skills and contributing innovative solutions to the tech community.</p>
</section>


		<!-- End your code here  -->



	</main>
</div>