<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->
<header class="mt-4">
	<h1>Welcome to My WEB700 Site</h1>
	<p>Welcome to my site! Here, I'll be showcasing principles and techniques in HTML5, along with demonstrating routing capabilities in Express...</p>

<section>
	<h2>Site Overview</h2>
	<p>This website is structured with three static pages: Home, About, and HTML Demo. Additionally, it features five data-providing routes, including: 
    <a href="/students">All Students</a>, 
    <a href="/students?course=3">Students Filtered by Course</a>, 
    <a href="/student/2">Individual Student Details by Student Number</a>, 
    <a href="/tas">Complete List of Managers</a>, and 
    <a href="/courses">Comprehensive Course Catalog</a>.
</p>
</section>

<section>
	<h2>HTML5 Demonstrated</h2>
<p>This website leverages HTML5, the most recent update to the HTML standard, to display diverse web content.</p>
</section>



		<!-- End your code here  -->



	</main>
</div>